# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribución / empaquetado
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
bin/
include/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Archivos de log y bases de datos
*.log
*.sql
*.sqlite
*.db

# Entornos virtuales
venv/
ENV/
env/
.venv

# IDEs
.vscode/
.vs/
.idea/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Archivos de sistema
Thumbs.db
.DS_Store
